
body,h1,h2,p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}.main-div{
    background-color: silver;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
#logo{
    color:#316FF6;
    padding: 15px 0px;
}
.signupform{
    background-color: white;
    width: 430px;
    border-radius: 8px;
}
.form-heading{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
h2{
    padding-bottom: 7px;
}
.input-field{
padding:15px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

input,select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}
.half-width{
    display: flex;
    width: 48%;
}
.full-width{
    display: flex;
    width: 100%;
}
label{
    font-size: 15px;
    padding-bottom: 10px;

}
.dob-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.quator-width{
    width: 31%;
    display: flex;
}
.radio-btn{
    border: 1px solid #ccc;
    border-radius: 5px;
    width:100% ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-label{
    padding-bottom: 0;
    font-size: 15px;
}
.radio-input{
    margin: 0;
    width: auto;
    
}
small{
padding-top: 10px;
 font-size: 12px;
 color: #777;
}
a{
    text-decoration:none ;
}
.signin-btn{
    border: 0;
    background-color: green;
    color: white;
    padding: 8px 55px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;

}
.button-div {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}
.account-div{
  display:flex;
  justify-content: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 15px;
}
.error{
    color: red;
}